.sidebar {
  position: sticky;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: $sidebar-border;

  @media (max-width:980px) {
    width: 250px;
  }

  @media (max-width:720px) {
    display: none;
  }
  .ant-btn{
    background-color: $primary;
    &:hover{
      background-color: $primary-hover !important;
    }
  }
  .logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: start;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-family: "Pacifico", cursive;
    color: $white;
    i{
      font-size: 30px;
      margin-right: 10px;
      margin-left: 5px;
      color: $primary;
    }
    a{
      margin: 0 !important;
    }
  }
.ant-collapse-content  {
  border-radius:  14px !important;

}
.ant-collapse-header{
  border-radius: 10px !important ;

}
  .sidebar-content {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #F3F5F7;
    border: 1px solid #E4E5E6;

    .profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 5px;

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .info {
        flex: 1;

        h4 {
          text-transform: capitalize;
          margin: 0;
          font-size: 14px;
          color: #131920;
        }

        p {
          margin-top: 3px !important;
          margin: 0;
          font-size: 12px;
          color: #131920;
        }
      }

      .menu-btn {
        background: none;
        border: none;
        font-size: 16px;
        color: #5b6b79;
        cursor: pointer;
      }
    }

    .dropdown {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;

      ul {
        list-style: none;

        li {
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 16px;
          gap: 8px;
          padding: 8px 10px;
          cursor: pointer;
          border-radius: 5px;
          transition: background 0.3s;

          &:hover {
            background: #E4E5E6;
          }
        }
      }
    }

    .dropdown.open {
      height: 110px;
    }
  }

  .collapse-label {
    color: #131920;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;

    strong {
      color: #6D28D9  ;
    }
  }

  .group-item {
    padding: 12px;
    background: white;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out;
  }

  .group-item:hover {
    background: #f4f4f460;
  }

  .group-item.active {
    background: #f0f0f0;
    font-weight: bold;
  }

}
.mobile-sidebar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: $body-bg;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
  display: none;
  grid-template-columns: repeat(5, 1fr);
  padding: 8px 20px;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (max-width:720px) {
    display: grid;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $sidebar-bg-dark;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  
    &.active-link {
      color: $dark-text;
    }
  
    &:active {
      background-color: lighten($sidebar-bg-dark, 10%);
    }
  }
  .add-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    border-radius: 10px;
    font-size: 22px;
    color: #FFF;
    cursor: pointer;
  } 
  
}
.mobile-sidebar.dark{
  background-color: $body-bg-dark;
  box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.05);
}

.sidebar.dark {
  border-right: $sidebar-border-dark;

  .sidebar-content {
    background-color: $sidebar-bg-dark;
    color: $dark-text;
  }

  .profile {
    .menu-btn {
      color: $dark-text;
    }

    .info {
      h4 {
        color: #BFBFBF;
      }

      p {
        color: #BFBFBF;
      }
    }
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid $border-color !important;
      width: 90%;
      li {
        color: #A9AAAC;

        &:hover {
          background: #263240;
        }
      }
    }
  }

  .collapse-label {
    color: #BFBFBF;
  }

  .sidebar-collapse {
      background-color: #111827;
      // border-radius: 0 0 10px 10px;


    .anticon {
      color: #BFBFBF;
    }

    .ant-collapse-content-box {
      background-color:  #111827  ;
      border-radius: 10px !important;
    }

    .group-item {
      color: #BFBFBF;
      background-color: #0c1221;

      // &:hover {
      //   background-color: #3f57745d;
      // }

      // &.active {
      //   background-color: #3f5774;
      // }
    }
  }

  .custom-dark-drawer,
  .ant-drawer-content {
    background-color: #1f1f1f !important;
    color: #fff !important;
  }

  .custom-dark-drawer,
  .ant-drawer-header {
    background-color: #333 !important;
    border-bottom: 1px solid #444;
  }

  .custom-dark-drawer .ant-drawer-title {
    color: #ff9800 !important;
  }

  .custom-dark-drawer .ant-drawer-close {
    color: #fff !important;
  }

  .custom-dark-drawer .ant-form-item-label>label {
    color: #fff !important;
  }

  .custom-dark-drawer .ant-input {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
  }

  .custom-dark-drawer .ant-input::placeholder {
    color: #aaa !important;
  }

  .custom-dark-drawer .ant-btn-primary {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
  }

  .custom-dark-drawer .ant-btn-primary:hover {
    background-color: #e68900 !important;
    border-color: #e68900 !important;
  }
}
