$primary: #6D28D9;
$primary-hover: #7d43db;
$secondary: #6c757d;
$danger: #dc3545;
$success: #28a745;
$white: #ffffff;
$black: #000000;
$gray: #f8f9fa;

$font-stack: "Arial", sans-serif;

$body-bg: #f8f9fa;
$body-color: #5b6b79;
$sidebar-border: 2px dashed #e4e5e6;


$bg-color: #6D28D9;
$text-color: #333;
$border-color: #abababbe;



$body-bg-dark: #030712;
$sidebar-bg-dark: #111827dc    ;

$body-color-dark: #A9AAAC;
$sidebar-border-dark: 2px dashed #222d39;


$dark-bg: #030712;
$dark-text: #fff;
$dark-border-color: #555;
$dark-primary: #6D28D9;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');